* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.maincont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#opensidebarmenu {
  position: relative;
  bottom: 0px;
  width: 100%;
  display: none;
}
#sidebarmenu {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(250px);
  background: linear-gradient(90deg, #47b7e5 -2.97%, #5369f6 102.38%);
  transition: transform 250ms ease-in-out;
}

#opensidebarmenu:checked ~ #sidebarmenu {
  transform: translateX(0px);
}

.menu {
  list-style: none;
}
.menu li {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.menu li a {
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 3rem;
  padding-left: 5rem;
}
.sidebaricontoggle {
  height: 25px;
  width: 25px;
  position: absolute;
  z-index: 9999px;
  top: 15px;
  right: 3rem;
  cursor: pointer;
}
.spinner {
  height: 3px;
  background: linear-gradient(90deg, #47b7e5 -2.97%, #5369f6 102.38%);
  transition: all 0.3s;
}
.middle {
  margin-top: 3px;
}
.bottom {
  margin-top: 3px;
}
#opensidebarmenu:checked ~ .sidebaricontoggle > .middle {
  opacity: 0;
}
#opensidebarmenu:checked ~ .sidebaricontoggle > .top {
  transform: rotate(135deg);
  margin-top: 8px;
}
#opensidebarmenu:checked ~ .sidebaricontoggle > .bottom {
  transform: rotate(-135deg);
  margin-top: -8px;
}

.header1 {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  box-shadow: 0 5px 5px 0 #00000000, 0 5px 10px 0 rgb(0 0 0 / 19%);
}
.link1 {
  color: #47b7e5;
  text-decoration: none;
}
.link2 {
  text-decoration: none;
  color: #fff;
}
.btnn {
  width: 10%;
}
.headmain {
  width: 50%;
  display: flex;
}
.logo {
  margin-top: 5px;
}
.haed {
  width: 50%;
  margin-top: 15px;
  text-align: center;
}
.haed1 {
  width: 62%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  color: #0e2843;
}
.line {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid black;
}
/* ================== */
.lorem {
  width: 100%;
  padding: 64px;
  background-color: #ffff;
  color: #0e2843;
  margin-top: 40px;
}
.lorem1 {
  margin-left: 6rem;
}
.spn {
  position: relative;
}
.hight {
  position: absolute;
}
/* ===========card========= */
.maincard {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f6f9fc;
}
.card2 {
  width: 87%;
  display: flex;
  justify-content: center;
}
.text {
  width: 100%;
  border: 1px solid lightgray;
  background-color: #fff;
  padding: 2.375rem 2rem 5.688rem 2.5rem;
  margin: 2rem;
}
.btn3 {
  width: 100%;
  max-width: 300px;
  background: linear-gradient(90deg, #47b7e5 -2.97%, #5369f6 102.38%);
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  padding: 14px;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}
.para1 {
  max-width: 250px;
  margin-top: 20px;
  color: #556281;
}
.para12 {
  max-width: 250px;
  margin-top: 25px;
  color: #556281;
}
.haed2 {
  margin-top: 3rem;
  color: #031d44;
}
.haed23 {
  margin-top: 5rem;
  color: #031d44;
}
.hd2 {
  color: #031d44;
}
.p2 {
  margin-top: 1.5rem;
  color: #283551;
}
.para3 {
  margin-top: 2.8rem;
  color: #556281;
}
.para4 {
  color: #556281;
}

.icon1 {
  display: flex;
  margin-top: 1.5rem;
}
.p3 {
  margin-left: 10px;
  color: #283551;
  font-size: 18px;
  font-weight: 700;
}
.img3 {
  margin-left: 5px;
}

@media only screen and (max-width: 786px) {
  .icc {
    display: block;
    font-size: 24px;
    margin-right: 20px;
  }
  .haed1 {
    display: none;
  }
  .header1 {
    width: 100%;
  }
  .maincont {
    width: 100%;
    text-align: left;
  }
  .lorem1 {
    width: 100%;
    margin-left: 0px;
  }
  .maincard {
    width: 100%;
    padding: 0px;
  }
  .card2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .para12 {
    max-width: 400px;
    margin-top: 10px;
  }
  .haed23 {
    margin-top: 20px;
  }
  .btn3 {
    margin-top: 20px;
  }
  .para1 {
    margin-top: 10px;
    max-width: 500px;
  }
  .haed2 {
    margin-top: 20px;
  }
  .ftr2 {
    display: block !important;
  }
  .heading_div {
    width: 100%;
    height: 100%;
  }
  .btn22 {
    width: 100%;
    max-width: 300px;
    background: linear-gradient(90deg, #47b7e5 -2.97%, #5369f6 102.38%);
    border-radius: 24px;
    font-size: 15px;
    color: #fff;
    padding: 14px;
    border: none;
    cursor: pointer;
  }
  .last {
    width: 40%;
  }
  .last2 {
    width: 100%;
  }
  .img55 {
    width: 100%;
    margin-top: 4rem;
  }
}
/* ============= */
@media only screen and (max-width: 425px) {
  .header1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
  }
}

/* =============footer===== */
.footer {
  width: 100%;
  height: 100%;
  background-color: #031d44;
  margin-top: -5px;
}
.foohd {
  background: -webkit-linear-gradient(#3dbae3, #3bdcd6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.05em;
}
.white {
  color: #ffff;
  font-size: 34px;
  word-spacing: 5px;
  letter-spacing: 0.05em;
}
.iccoc {
  align-items: center;
  margin-top: 10%;
}
.btnn3 {
  width: 10%;
  font-size: 18px;
}
.btn4 {
  width: 80%;
  background: linear-gradient(90deg, #47b7e5 -2.97%, #5369f6 102.38%);
  font-size: 18px;
  border-radius: 28px;
  color: #fff;
  padding: 12px;
  border: none;
  cursor: pointer;
}
.ic3 {
  margin-left: 10px;
  margin-top: 6px;
  color: #47b7e5;
}
.fff12 {
  color: #fff;
}
.b4u {
  color: #b2f5ec;
  margin-top: 20px;
}
.imgggg {
  width: 15px;
  height: 15px;
  margin-top: 20px;
  margin-left: 5px;
}

.mainmain {
  width: 100%;
  height: 100%;
}
.heading_div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 70px;
}
.line2 {
  opacity: 0.33;
  border-bottom: 1px solid #b2f5ec;
  transform: rotate(0.35deg);
  display: none;
}
.suggestic {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.last {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-top: 10%;
}
.btnn {
  margin-top: 20px;
}
.last2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}
.sugg {
  margin-top: 80px;
  margin-left: 18%;
  display: flex;
  color: #d1f7ff;
  font-weight: 300;
}
.far {
  font-size: 22px;
  margin-top: 8px;
}
.iconss {
  margin-top: 5%;
  margin-right: 15px;
}
.top1 {
  color: #fff;
  letter-spacing: 1px;
}
.top2 {
  color: #d1f7ff;
  margin-top: 20px;
}
.top {
  color: #d1f7ff;
  margin-top: 10px;
}
.top3 {
  margin-top: -15px;
  color: #d1f7ff;
}
.top4 {
  margin-top: 20px;
  color: #d1f7ff;
}
.top5 {
  margin-top: 20px;
  color: #d1f7ff;
  display: none;
}
.fea {
  display: none;
}
.exm {
  display: none;
}
.sugg2 {
  display: none;
}

/* =======media======= */

@media only screen and (max-width: 1024px) {
  .haed1 {
    display: none;
  }
  .head {
    width: 100%;
  }
  .logo {
    margin-left: 10px;
  }
}
/* =============mediafooter============ */

@media only screen and (max-width: 1440px) {
  .footer {
    width: 100%;
    height: 100%;
  }
  .btnn3 {
    width: 10%;
    margin-right: 30px;
  }
  .btn4 {
    width: 100%;
    background: linear-gradient(90deg, #47b7e5 -2.97%, #5369f6 102.38%);
    border-radius: 28px;
    font-size: 18px;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  .heading_div {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
  .suggestic {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .iccoc {
    width: 20%;
    margin-left: 25px;
  }
  .last {
    width: 25%;
  }
  .last2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .sugg {
    width: 100%;
    margin-left: 3rem;
    margin-top: 2rem;
  }
  .iconss {
    margin-top: 1rem;
  }
  .sugg2 {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .btnn3 {
    width: 15%;
    padding: 10px;
  }
  .last2 {
    display: flex;
    justify-content: space-around;
  }
  .sugg {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 786px) {
  .btnn3 {
    width: 25%;
    padding: 18px;
  }
  .iccoc {
    width: 60%;
  }
  .last {
    width: 50%;
    margin-right: 20px;
  }
  .rec {
    margin-right: 20px;
  }
  .com {
    width: 100%;
  }
  .top {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 425px) {
  .footer {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
  }
  .heading_1 {
    text-align: center !important;
    margin-left: 10px;
  }
  .heading_div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 20px;
  }
  .foohd {
    font-size: 25px;
    margin-left: 10px;
  }
  .white {
    font-size: 25px;
    margin-top: 10px;
  }
  .btnn3 {
    width: 40%;
    padding: 18px;
    margin-top: 30px;
  }
  .line {
    display: block;
  }
  .suggestic {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .iccoc {
    margin-right: 30px;
  }
  .b4u {
    margin-left: 20px;
  }
  .sugg {
    display: none;
  }
  .sugg2 {
    display: flex;
    color: #d1f7ff;
    font-weight: 300;
    margin-top: 20px;
  }
  .ic34 {
    font-size: 18px;
    margin-top: 8px;
    color: #47b7e5;
  }
  .for2 {
    font-size: 18px;
  }
  .last {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .b4u {
    font-size: 18px;
    margin-top: 3rem;
    color: #d1f7ff;
  }
  .fff12 {
    margin-left: 20px;
    font-size: 18px;
  }
  .top1 {
    margin-top: 2rem;
  }
  .fea {
    display: block;
    color: #d1f7ff;
    margin-top: 20px;
    margin-left: 20px;
  }
  .exm {
    display: block;
    color: #d1f7ff;
    margin-top: 20px;
    margin-left: 20px;
  }
  .top4 {
    display: none;
  }
  .top5 {
    display: block;
  }
  .iconss {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
  }
  .bubl {
    width: 50px;
  }
  .bbb {
    position: absolute;
    right: 0%;
  }
}
